# YouCompleteMe configuration
.ycm_extra_conf.py

# Python bytecode
*.pyc

# Editor temporaries
*.swp
*~

# Executables
*.out

# CMake
CMakeCache.txt
CMakeFiles
CMakeScripts
Testing
Makefile
cmake_install.cmake
install_manifest.txt
compile_commands.json
CTestTestfile.cmake
